name: "Tests"

on:
  push:
    branches:
      - "**"
    tags:
      - "**"
  workflow_call:

permissions:
  contents: read
  actions: read
  checks: write

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        include:
          - os: ubuntu-latest
            tasks: jvmTest jsTest wasmJsTest linuxX64Test
          - os: macos-latest
            tasks: jvmTest iosSimulatorArm64Test macosArm64Test tvosSimulatorArm64Test watchosSimulatorArm64Test
          - os: windows-latest
            tasks: jvmTest mingwX64Test

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 24

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Run tests
        run: ./gradlew ${{ matrix.tasks }}

      - name: Publish Test Report
        if: always()
        uses: dorny/test-reporter@v2
        with:
          name: Tests Report (${{ matrix.os }})
          path: "**/build/test-results/**/*.xml"
          reporter: java-junit